<div class="modal hide fade in" id="video-upload">
  <div class="modal-header">
    <h4>Uploading Video <i class="icon-cloud-upload pull-right upload-icon"></i></h4>
  </div>
  <div class="modal-body">
   	<div id="dropzone">
		<div id="upload">
			<p class='video-upload-info'>
				<!-- File upload appended to here -->
			</p>
		</div>
	</div>
  </div>
  <div class="modal-footer">
    <a href="#" id="modal-dismiss" class="btn" data-dismiss="modal">OK</a>
  </div>
</div>